<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISecurityAPI" />
                <binding name="BasicHttpBinding_IDictionaryAPI" />
                <binding name="BasicHttpBinding_IProductAPI" />
                <binding name="BasicHttpBinding_IImageAPI" />
                <binding name="BasicHttpBinding_ILogAPI" />
                <binding name="BasicHttpBinding_IAdministrationAPI" />
                <binding name="BasicHttpBinding_IDocumentAPI" />
                <binding name="BasicHttpBinding_IReportAPI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2123/WebServices/SecurityAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityAPI"
                contract="SecurityAPI.ISecurityAPI" name="BasicHttpBinding_ISecurityAPI" />
            <endpoint address="http://localhost:2123/WebServices/DictionaryAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDictionaryAPI"
                contract="DictionaryAPI.IDictionaryAPI" name="BasicHttpBinding_IDictionaryAPI" />
            <endpoint address="http://localhost:2123/WebServices/ProductAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductAPI"
                contract="ProductAPI.IProductAPI" name="BasicHttpBinding_IProductAPI" />
            <endpoint address="http://localhost:2123/WebServices/ImageAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageAPI"
                contract="ImageAPI.IImageAPI" name="BasicHttpBinding_IImageAPI" />
            <endpoint address="http://localhost:2123/WebServices/LogAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogAPI"
                contract="LogAPI.ILogAPI" name="BasicHttpBinding_ILogAPI" />
            <endpoint address="http://localhost:2123/WebServices/AdministrationAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrationAPI"
                contract="AdministrationAPI.IAdministrationAPI" name="BasicHttpBinding_IAdministrationAPI" />
            <endpoint address="http://localhost:2123/WebServices/DocumentAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentAPI"
                contract="DocumentAPI.IDocumentAPI" name="BasicHttpBinding_IDocumentAPI" />
            <endpoint address="http://localhost:2123/WebServices/ReportAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportAPI"
                contract="ReportAPI.IReportAPI" name="BasicHttpBinding_IReportAPI" />
        </client>
    </system.serviceModel>
</configuration>