*.suo
*.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

USClothesWebSite/USClothesWebSite.Web/Web.config
USClothesWebSite/USClothesWebSite.Win/App.config
USClothesWebSite/USClothesWebSite.Web/Images/Products
USClothesWebSite/USClothesWebSite.Web/Logs/
USClothesWebSite/packages/