<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:2123/WebServices/SecurityAPI.svc" name="BasicHttpBinding_ISecurityAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/DictionaryAPI.svc" name="BasicHttpBinding_IDictionaryAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/ProductAPI.svc" name="BasicHttpBinding_IProductAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/ImageAPI.svc" name="BasicHttpBinding_IImageAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/LogAPI.svc" name="BasicHttpBinding_ILogAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/AdministrationAPI.svc" name="BasicHttpBinding_IAdministrationAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/DocumentAPI.svc" name="BasicHttpBinding_IDocumentAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:2123/WebServices/ReportAPI.svc" name="BasicHttpBinding_IReportAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

</configuration>