<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="USClothesWebSite.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<userSettings>
		<USClothesWebSite.Win.Properties.Settings>
			<setting name="MainForm_Size" serializeAs="String">
				<value>800, 600</value>
			</setting>
			<setting name="MainForm_WindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="MainForm_Location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="LoginForm_Login" serializeAs="String">
				<value/>
			</setting>
		</USClothesWebSite.Win.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="apiBinding" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
					<readerQuotas maxArrayLength="1000000" maxStringContentLength="1000000" maxBytesPerRead="1000000"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="SecurityAPI.ISecurityAPI" name="BasicHttpBinding_ISecurityAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="DictionaryAPI.IDictionaryAPI" name="BasicHttpBinding_IDictionaryAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="ProductAPI.IProductAPI" name="BasicHttpBinding_IProductAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="ImageAPI.IImageAPI" name="BasicHttpBinding_IImageAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="LogAPI.ILogAPI" name="BasicHttpBinding_ILogAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="AdministrationAPI.IAdministrationAPI" name="BasicHttpBinding_IAdministrationAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="DocumentAPI.IDocumentAPI" name="BasicHttpBinding_IDocumentAPI"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="apiBinding" contract="ReportAPI.IReportAPI" name="BasicHttpBinding_IReportAPI"/>
		</client>
		<extensions>
			<behaviorExtensions>
				<add name="securityBehavior" type="USClothesWebSite.Win.Logic.Security.SecurityBehaviorExtension, USClothesWebSite.Win.Logic"/>
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<securityBehavior/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
