<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="USClothesWebSite.Common" type="USClothesWebSite.Common.Services.Configuration.CommonConfigurationSection, USClothesWebSite.Common" />
  </configSections>

  <USClothesWebSite.Common>
    <smtpSettings
      host="mail.test.com"
      port="443"
      enableSsl="true"
      username="test"
      password="test"
      timeout="10000"/>
  </USClothesWebSite.Common>
  
</configuration>