<div style="text-align: center">
    <img src="../../Images/logo.png"/>    
    <br/>
    <span style="font-size: large; font-family: sans-serif;">Магазин элитной одежды для всей семьи "US Clothes"</span>
</div>


