<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes" />
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <USClothesWebSite.BusinessLogic xdt:Transform="SetAttributes" imagesDirectoryName="Images\Products" logsDirectoryName="Logs"/>
  
  <USClothesWebSite.Common>
    <smtpSettings
      xdt:Transform="SetAttributes"
      host="smtp.test.com"
      port="587"
      enableSsl="true"
      username="test@test.com"
      password="test"
      timeout="30000"/>
  </USClothesWebSite.Common>

  <connectionStrings>
    <add name="USClothesShopEntities" 
         connectionString="metadata=res://*/USClothesWebSiteModel.csdl|res://*/USClothesWebSiteModel.ssdl|res://*/USClothesWebSiteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql.usclothes.hosting.ru;Initial Catalog=usclothes;User ID=usclothes;Password=#########;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata xdt:Transform="SetAttributes" httpGetEnabled="false" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>