<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="USClothesWebSite.BusinessLogic" type="USClothesWebSite.BusinessLogic.Configuration.BusinessLogicConfigurationSection, USClothesWebSite.BusinessLogic" />
    <section name="USClothesWebSite.Common" type="USClothesWebSite.Common.Services.Configuration.CommonConfigurationSection, USClothesWebSite.Common" />
  </configSections>

  <connectionStrings>
    <add name="USClothesShopEntities" 
         connectionString="" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <customErrors mode="" defaultRedirect="~/Home/Error">
      <error statusCode="404" redirect="~/Home/Error"/>
    </customErrors>
    <compilation debug="" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="errorBehavior" type="USClothesWebSite.Web.Behaviors.Error.ErrorServiceBehaviorExtension, USClothesWebSite.Web, Version=1.0.0.0, Culture=neutral"/>
        <add name="iocBehavior" type="USClothesWebSite.Web.Behaviors.IoC.IoCServiceBehaviorExtension, USClothesWebSite.Web"/>
        <add name="securityBehavior" type="USClothesWebSite.Web.Behaviors.Security.SecurityServiceBehaviorExtension, USClothesWebSite.Web"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="" httpsGetEnabled="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <errorBehavior />
          <iocBehavior />
          <securityBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name ="USClothesWebSite.Web.WebServices.SecurityAPI">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.ISecurityAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.DictionaryAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IDictionaryAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.ProductAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IProductAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.ImageAPI">
        <endpoint address=""
                  binding="basicHttpBinding" 
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IImageAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.LogAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.ILogAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.AdministrationAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IAdministrationAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.DocumentAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IDocumentAPI"/>
      </service>
      <service name ="USClothesWebSite.Web.WebServices.ReportAPI">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="apiBinding"
                  contract="USClothesWebSite.Web.WebServices.IReportAPI"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="apiBinding" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
          <readerQuotas maxArrayLength="1000000" maxStringContentLength="1000000" maxBytesPerRead="1000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <USClothesWebSite.BusinessLogic imagesDirectoryName="" logsDirectoryName="" />

  <USClothesWebSite.Common>
    <smtpSettings
      host=""
      port=""
      enableSsl=""
      username=""
      password=""
      timeout=""/>
  </USClothesWebSite.Common>
  
</configuration>



